{% extends "main.html" %}

{% block title %}About -{% endblock title %}

{% block body %}
<h1 style=text-align:center>who are we</h1>
<div class="about">
  <p  style=margin:100px  >Welcome to our dog-loving community! We are a reputable dog selling company dedicated to connecting loving homes with wonderful canine companions. Our passion for dogs and commitment to their well-being drives our mission to provide you with healthy, happy, and well-socialized pups. <br></br>

    At our company, we prioritize the welfare of our dogs and ensure they receive the best care and love from day one. Our experienced team is here to guide you through the process of selecting the perfect furry addition to your family. We understand that each family has unique needs, and we take pride in matching you with the ideal furry friend to bring joy and companionship to your life. <br></br>
    
    Browse our selection of diverse breeds, each with its own charm, temperament, and needs. Whether you're seeking a loyal family pet, a playful companion, or a working dog, we have the perfect match for you. We are dedicated to making the process of finding and bringing home your new best friend as enjoyable and stress-free as possible. 
    <br></br>
    
    Your satisfaction and the well-being of our dogs are our top priorities. We stand by the quality of our puppies and offer support to ensure a smooth transition as they become an integral part of your life. Thank you for considering us as your trusted partner in your journey to find a loving and loyal canine companion.</p>
</div>

<div class="container marketing" style=margin-top:80px >


    <!-- Three columns of text below the carousel -->
    <div class="row ">
      <div class="col-lg-4 " >
        <img class="rounded-circle" src="\static\images\mike.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Mike</h2>
        <p>Mike, the dedicated founder of our dog-selling company, has an unwavering passion for canines. His extensive experience and deep commitment to responsible breeding and care for dogs have been the driving force behind our success.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="\static\images\female.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Kalpana</h2>
        <p>Kalpana, the founder of our dog selling company, is a dedicated canine enthusiast whose love for dogs inspired her to create a reputable platform for connecting dogs with loving homes.Her vision and commitment to providing loving homes.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 ">
        <img class="rounded-circle" src="\static\images\john.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>John</h2>
        <p>John, the founder of our dog selling company, is a dedicated and experienced canine enthusiast. His vision and commitment to providing loving homes with exceptional dogs have driven the company's success. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    
  </div>

{% endblock body %}